/* app css stylesheet */

.btn-auth {
  margin: 10px;
}

.register {
  margin-top: 30px;
}

.login {
  margin-top: 30px;
}


.register .controls {
  margin: 10px;
}

.img-auth {
  margin: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.grid{
  column-count: auto;
  -webkit-column-count: auto;
  -moz-column-count: auto;
  -ms-column-count: auto;
  -o-column-count: auto;
  column-width: 300px;
  -webkit-column-width: 300px;
  -moz-column-width: 300px;
  -ms-column-width: 300px;
  -o-column-width: 300px;
  -webkit-column-fill:auto;
  -moz-column-fill:auto;
  column-fill:auto;
}

.grid div{
  break-inside: avoid-column;
  -webkit-break-inside: avoid-column;
  -moz-break-inside: avoid-column;
  -ms-break-inside: avoid-column;
  -o-break-inside: avoid-column;
}

.grid .dd{
  margin-bottom: 0.3em;
}

.mb-grid{
    border: 1px solid rgb(212,212,212);
    height: 80vh;
}

.mb-grid .label{
    margin-left: 2px;
}

[recursive] ul.nav, recursive ul.nav{
    margin-bottom: 0;
}

[recursive] ul.nav li, recursive ul.nav li{
    padding-left: 1em;
}

a.toggle-true:before{
    content: '- ';
}

a.toggle-false:before{
    content: '+ ';
}

a.service-link{
    color: darkslategrey;
}

.row div {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.row [class="col-md-0"] {
    width: 0px!important;
    height: 0px!important;
}

.services div.service{
    border: 1px solid #e5e5e5;
    height: 5em;
    width: 25ex;
    display: inline-block;
    overflow: hidden;
    margin: 0.5ex;
    text-overflow: ellipsis;
}

.services div.service .title{
    background-color: #e5e5e5;
}

fieldset[disabled], fieldset[disabled] input, fieldset[disabled] select, fieldset[disabled] textarea,
fieldset[readonly], fieldset[readonly] input, fieldset[readonly] select, fieldset[readonly] textarea{
    cursor: not-allowed;
    background-color: #eee;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}



.notif-action button {
    margin: 5px;
}

.notif-home {
    height: 100%;
}

.notif-home>div {
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
}

#notif-right-panel {
    height: 100%;
}

#notif-left-panel {
    height: 100%;
}

.notif-msg {
    padding: 5px;
    min-height: 20px;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: 1px;
}

.notif-menu-elt {
    margin: 5px;
    color: white;
}

#notif-msg-new>div {
    margin: 10px;
}