######################
# Logs and databases #
######################
*\.log

####################
# Eclipse metadata #
####################
\.project
\.pydevproject
\.settings/

#############
# vim files #
#############
*\.swp
*~
##########################
# Python complied source #
##########################
*\.pyc
*\.pyo

#eggs
mobyle.egg-info/

# CSS from SCSS
mobyle/static/mobyle.css
