<div>

  <script type="text/ng-template" id="menu_item_renderer.html">
    <div id="{{name}}" class="row-fluid" ng-show="!para.ishidden && (show_advanced || para.simple || para.children)">
      <ng-switch on="para.children" >
         <div class="span11 offset1" ng-switch-when="undefined">
           <label>{{para.prompt || para.name}} <input type="text" name="{{para.name}}"></label>
         </div>
         <fieldset class="span11 offset1" ng-switch-default>
           <legend>{{para.prompt || para.name}}</legend>
           <div ng-repeat="(name, para) in para.children" ng-include="'menu_item_renderer.html'"></div>
         </fieldset>
      </ng-switch>
    </div>
  </script>

  <form class="row-fluid">
    <div class="span9">
        <h2>{{service.title}} {{service.version}}</h2>
        <h3>{{service.description}}</h3>
    </div>
    <toggle class="span3" state="{{show_advanced}}" textWhenOn="Only simple parameters" textWhenOff="All parameters" ng-click="show_advanced=!show_advanced" class="btn"></toggle>
    <div class="span11" ng-repeat="(name, para) in service.inputs.children" ng-include="'menu_item_renderer.html'" ng-show="!para.ishidden && (show_advanced || para.simple || para.children)">
    </div>
  </form>

</div>
