<div class="span10 offset1">
<h2>{{services.length}} Services</h2>
<div>
  Simple search: <input type="search" placeholder="search with 3 chars or more" class="search-query" ng-model="query">
</div>
<div class="services_list">
  <div ng-repeat="s in services | searchServices:query | orderBy:'name'">
    <div class="dt">
      <a href="#/services/{{s.name}}" ng-bind-html="s.nameHl || s.name"/></a>
    </div>
    <div class="dd">
      <span ui-if="s.title.toUpperCase()!=s.name.toUpperCase()"><span ng-bind-html="s.titleHl || s.title"/>: </span>
      <span ng-bind-html="s.description" />
    </div>
  </div>
</div>
</div>
