<div class="row-fluid span11">
    <h1>{{job.userName()}} <small>({{job.getCreationDate() | date: "MMM d, y H:mm"}})</small>
        <span status-cc="job" text="true" background="true" style="border-radius: 3px;" class="initialism">{{job.status}}</span>
        <div class="btn-group pull-right">
          <button type="button" class="btn btn-default" ng-click="reload()"><i class="glyphicon glyphicon-refresh"></i> Update</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li title="Pause the job execution"><a href="#"><i class="glyphicon glyphicon-pause"></i> Pause</a></li>
            <li title="Stop the job execution"><a href="#"><i class="glyphicon glyphicon-stop"></i> Stop</a></li>
            <li title="Download the job data"><a href="#"><i class="glyphicon glyphicon-download-alt"></i> Download</a></li>
            <li title="Run again with the same parameters"><a href="#/jobs/{{job._id.$oid}}/replay"><i class="glyphicon glyphicon-repeat"></i> Replay job</a></li>
          </ul>
        </div>
    </h1>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fieldset_title">
                    <a data-toggle="collapse" data-target="#fieldset-contents-results">results</a>
                </h4>
            </div>
            <div id="fieldset-contents-results" class="panel-body collapse in">
                <div ng-if="mbset(job.service.outputs, job.outputs)" class="col-md-12" ng-repeat="(name, mbjobpara) in job.service.outputs.children">
                    <span recursive mbjobpara para="mbjobpara" job="job"></span>
                </div>
                <div ng-if="!mbset(job.service.outputs, job.outputs)" class="col-md-12 bg-warning">
                    No results (yet...)
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fieldset_title">
                    <a data-toggle="collapse" data-target="#fieldset-contents-inputs">parameters</a>
                </h4>
            </div>
            <div id="fieldset-contents-inputs" class="panel-body collapse in">
                <div ng-if="mbset(job.service.inputs, job.inputs)" class="col-md-12" ng-repeat="(name, mbjobpara) in job.service.inputs.children">
                    <span recursive mbjobpara para="mbjobpara" job="job"></span>
                </div>
                <div ng-if="!mbset(job.service.inputs, job.inputs)" class="col-md-12 bg-warning">
                    No parameters provided.
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" ng-if="job._type === 'ProgramJob'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fieldset_title">
                    <a data-toggle="collapse" data-target="#fieldset-contents-inputs">execution details</a>
                </h4>
            </div>
            <div id="fieldset-contents-inputs" class="panel-body collapse in">
                <div ng-if="job.cmd_line" class="col-md-12">
                    <label class="control-label ng-binding col-md-12">Command line</label>
                    <pre>{{job.cmd_line}}</pre>
                </div>
                <div ng-if="job.cmd_env" class="col-md-12">
                    <label class="control-label ng-binding col-md-12">Environment</label>
                    <pre>{{job.cmd_env}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
