<ng-form name="innerForm" ng-show="!para.hidden && !para.command" if-precond class="form-group">

    <!-- untranslated -->
    <div class="alert-info" ng-if="untranslated">no layout defined for type {{para.type}}</div>
    <!-- textarea option -->
    <div class="panel panel-default" ng-class="{'has-error': innerForm.mbinput.$dirty && innerForm.mbinput.$invalid}" ng-if="textarea">
        <div class="panel-heading">
            <h4>{{para.prompt || para.name}} 
            <i><type-text type="para.type"></i>
            <i ng-click="toggleComment()" ng-if="para.comment" class="glyphicon glyphicon-info-sign text-info" title="Click here to see inline help"/>
            </h4>
        </div>
        <div class="panel-body">
            <div style="position: relative;">
                <button type="button" class="btn pull-right" title="load from data bookmarks" style="position: absolute; top: 5px; right: 5px; z-index: 5;" ng-click="selectBookmark();">
                    <i class="glyphicon glyphicon-file"></i>
                </button>
                <textarea spellcheck="false" class="form-control col-md-2" name="mbinput" ng-model="job['inputs'][para.name]" ng-required="para.mandatory" ui-validate="{{uiValidateString}}">{{para.type.default}}</textarea>
            </div>
            <!-- show error messages for textarea -->        
            <div class="col-md-12 has-error"  ng-show="innerForm.mbinput.$dirty && innerForm.mbinput.$error">
                <div ng-show="innerForm.mbinput.$error.required" class="help-block">this field is mandatory</div>
                <div ng-show="innerForm.mbinput.$error.number" class="help-block">this field is numeric</div>
                <div ng-repeat="ctrl in para.ctrl" ng-show="$parent.innerForm.mbinput.$error['ctrls'+$index]" class="help-block">{{$parent['ctrls'+$index].message}}</div>
            </div>
            <!-- show comments for textarea -->        
            <div class="col-md-10 col-md-offset-1 bg-info" ng-show="showComment">{{para.comment}}</div>
        </div>
    </div>

    <!-- other options -->        
    <label class="control-label col-md-6" ng-if="!textarea">{{para.prompt || para.name}} <i><type-text type="para.type"></i>
            <i ng-click="toggleComment()" ng-if="para.comment" class="glyphicon glyphicon-info-sign text-info" title="Click here to see inline help"/>
    </label>
    <div class="col-md-6" ng-class="{'has-error': innerForm.mbinput.$dirty && innerForm.mbinput.$invalid}" ng-if="itype" >
        <input class="form-control" type="{{itype}}" step="{{step}}" name="mbinput" 
               value="{{para.type.default}}" ng-model="job['inputs'][para.name]" ui-validate="{{uiValidateString}}"/>
    </div>
    <div class="col-md-6" ng-class="{'has-error': innerForm.mbinput.$dirty && innerForm.mbinput.$invalid}" ng-if="select" >
        <select class="form-control col-md-2" step="{{step}}" name="mbinput" 
                ng-options="opt.value as opt.label for opt in options" ng-model="job['inputs'][para.name]" ui-validate="{{uiValidateString}}"/>
    </div>

    <!-- show error messages for other options -->        
    <div class="col-md-12 has-error"  ng-show="!textarea && innerForm.mbinput.$dirty && innerForm.mbinput.$error">
        <div ng-show="innerForm.mbinput.$error.required" class="help-block">this field is mandatory</div>
        <div ng-show="innerForm.mbinput.$error.number" class="help-block">this field is numeric</div>
        <div ng-repeat="ctrl in para.ctrl" ng-show="$parent.innerForm.mbinput.$error['ctrls'+$index]" class="help-block">{{$parent['ctrls'+$index].message}}</div>
    </div>
    <!-- show comments for other options -->        
    <div class="col-md-10 col-md-offset-1 bg-info" ng-show="!textarea && showComment">{{para.comment}}</div>
        
</ng-form>