<div id="{{para.name}}" class="row" ng-if="mbset(para, job.inputs)">
    <ng-switch on="para.children">
        <div ng-switch-when="undefined" class="row">
            <mboutput para="para" job="job"></mboutput>
        </div>
        <div class="panel-group" ng-switch-default>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel_title"><a data-toggle="collapse"
                                                  data-target="#fieldset-contents-{{para.name}}">{{para.prompt
                        || para.name}}</a><h4>
                </div>
                <div id="fieldset-contents-{{para.name}}" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-repeat="(name, para) in para.children">
                            <recursive><span ng-if="mbset(para, job.inputs)" class="col-md-offset-1" mbjobpara para="para"  job="job"></span></recursive>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-switch>
</div>