<div>
    <label class="control-label col-md-6">{{para.prompt || para.name}} <i><type-text type="para.type"></i>
        <i ng-if="para.comment" class="glyphicon glyphicon-info-sign" data-html="true" data-content="{{para.comment}}"
           data-container="body"/>
    </label>
    <div class="alert-info" ng-if="untranslated">no layout defined for type {{para.type}}</div>
    <div ng-if="displayType=='text'">
        {{text}}
    </div>
    <div ng-if="displayType=='file'">
        <iframe class="col-md-12 container well" ng-if="job.inputs[para.name]" ng-src="{{'/api/projectdata/' + job.inputs[para.name]['_id']['$oid'] +'/raw'}}"></iframe>
    </div>
</ng-form>
