<div class="row" ng-controller="LoginCtrl">
    <div class="offset1">
        <div class="alert" ng-show="msg">{{msg}}</div>
        <h2>Password reset request</h2>

        <p>You have requested to reset your password. Fill in a new password and submit your request. After completion,
            you will be able to connect with your new password</p>
        <input type="hidden" name="token" ng-bind="token"/>

        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" ng-model="rpassword" id="rpassword" placeholder="Password"/>
            </div>
        </div>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" ng-model="rpassword2" id="rpassword2" placeholder="Confirm password"/>
            </div>
        </div>
        <div class="controls">
            <button type="button" class="btn btn-primary" ng-click="resetPassword()">Update password</button>
        </div>
    </div>
</div>
