<script type="text/ng-template" id="projectsGrid_NameCell.html">
    <b>{{row.getProperty(col.field)}}</b>&nbsp;
    <i ng-show="row.getProperty('public')" class="glyphicon glyphicon-globe" title="this project is public"></i>
</script>

<script type="text/ng-template" id="projectsGrid_DescriptionCell.html">
    <div class="ngCellText" ng-class="col.colIndex()">
        <span ng-cell-text>{{row.getProperty(col.field)}}
            <span class="pull-right">
                <button class="btn-xs" tooltip="Edit project properties" ng-click="edit_dialog(row.entity)">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button class="btn-xs" tooltip="Remove project" ng-click="delete(row.entity)">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </span>
        </span>
    </div>
</script>

<div class="col-md-11">
    <h2>Projects
        <button ng-click="update()" class="btn btn-default btn-lg">
            <i class="glyphicon glyphicon-refresh"></i>
        </button>
        <button ng-click="edit_dialog()" class="btn btn-primary btn-lg">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </h2>
    <div class="mb-grid" ng-grid="projectGridOptions"></div>
</div>