<a ng-click="toggle()" class="toggle-{{toggleState==false}}">{{tree.name}}</a>  <sup class="text-muted">({{getServicesNumber(tree)}})</sup>
<ul id="{{tree.id}}" class="nav" ng-show="toggleState==false">
    <li ng-repeat="tree in tree.sublevels">
        <recursive><span tree class="nav"/></recursive>
    </li>
    <li ng-repeat="service in tree.services">
        <a class="service-link" href="#/services/{{service.public_name}}/{{service.version}}">{{service.name}}
            {{service.version}}</a>
    </li>
</ul>
