<div class="modal-header">
    <h3>{{data.name}} (project {{project.name}})</h3>
</div>
<form>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
        <div ng-if="!data._id.$oid">
            <label>
                Data:
                <select name="currentDataTerm" ng-model="currentDataTerm" ng-options="data_term as data_term.name for data_term in data_format_terms"/>
            </label>
            <label>
                Format:
                <select name="format_term" ng-model="data.type.format_term" ng-options="format_term.id as format_term.name for format_term in currentDataTerm.format_terms" ng-disabled="!currentDataTerm"/>
            </label>
            <div class="btn-group">
                <button type="button" class="btn" ng-model="mode" btn-radio="'paste'">Paste</button>
                <button type="button" class="btn" ng-model="mode" btn-radio="'upload'">Upload</button>
            </div>
            <label ng-show="mode=='paste'">Paste your data here:
                <textarea name="value" ng-model="data.value"/>
            </label>
            <label ng-show="mode=='upload'">Select a file to upload:
                <input name="file" type="file" ng-model="data.file"/>
            </label>
        </div>
        <label>Name: <input name="name" ng-model="data.name" placeholder="data name" autofocus/></label>
        <label>Description: <input name="name" ng-model="data.description" placeholder="data description"/></label>
        <label>Tags: <input name="tags" ng-model="data.tags" ng-list/></label>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok()">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>