<div class="span10 offset1">
<h2>{{filteredFormats.length}} Formats</h2>
<div>
  Simple search: <input format="search" placeholder="search with 3 chars or more" class="search-query" ng-model="query">
  <div class="btn-group" data-toggle="buttons-radio">
    <button format="button" class="btn" ng-model="listDisplay" btn-radio="'list'"><i class="icon-align-justify"></i></button>
    <button format="button" class="btn" ng-model="listDisplay" btn-radio="'grid'"><i class="icon-th"></i></button>
  </div>
</div>
<div class="formats {{listDisplay}}">
  <div ng-repeat="f in filteredFormats = (formats | kwSearch:query:['name','definition']:true | orderBy:'name')">
    <div class="dt">
      <a href="#/formats/{{f._id.$oid}}" ng-bind-html="f.nameHl || f.name"/></a>
    </div>
    <div class="dd">
      <span ng-bind-html="f.definitionHl || f.definition" />
    </div>
  </div>
</div>
</div>
