<div>
<label class="span6">{{para.prompt || para.name}} 
<i ng-show="para.comment" class="icon-info-sign" data-html="true" data-content="{{para.comment}}" data-container="body"/>
</label>
<div class="alert-info" ui-if="untranslated">no layout defined for type {{para.type}}</div>
<input class="span6" type="{{itype}}" ui-if="itype" name="{{para.name}}" step="{{step}}"/>
<select class="span6" ui-if="select" name="{{para.name}}" step="{{step}}">
    <option ng-repeat="option in options" value="{{option.value}}">{{option.label}}</option>
</select>
<textarea class="span12" ui-if="textarea" name="{{para.name}}"></textarea>
</div>
