<div class="modal-header">
    <h3>{{project.name}}</h3>
</div>
<div class="modal-body">
    <label>Name: <input name="name" ng-model="project.name" placeholder="enter a name"/></label>
    <label>Public: <input name="public" type="checkbox" ng-model="project.public" /></label>
    <label>Notebook:
        <textarea name="notebook" ng-model="project.notebook"></textarea>
    </label>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>