<div class="row-fluid span11">
    <form>
        <h2>Project: {{project.name}}</h2>
        <div class="control-group">
            <button type="button" class="btn btn-warning" ng-click="update()">Reset</button>
            <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
        </div>
        <tabset>
            <tab heading="Properties">
                <ng-include src="'partials/projectEditProperties.html'"></ng-include>
            </tab>
            <tab heading="Notebook">
                <textarea class="span10"  ui-tinymce ng-model="project.notebook" style="height: 80vh"></textarea>
            </tab>
            <tab heading="Data" select="update()">
                <button ng-click="update()" class="btn btn-default btn-lg"><i class="icon-refresh"></i></button>
                <button ng-click="editProjectData(null, project)" class="btn btn-primary btn-lg"><i class="icon-plus"></i>
                </button>
                <div class="mb-grid" ng-grid="projectDataGridOptions"></div>
            </tab>
        </tabset>
    </form>
</div>
