<div class="row-fluid span11">
    <h2>Project: {{project.name}}</h2>
    <tabset>
        <tab heading="Properties">
        </tab>
        <tab heading="Notebook">
            <textarea class="span10" style="height: 80vh">{{project.notebook}}</textarea>
        </tab>
        <tab heading="Data" select="update()">
            <button ng-click="update()" class="btn btn-default btn-lg"><i class="icon-refresh"></i></button>
            <button ng-click="edit_dialog(null, project)" class="btn btn-primary btn-lg"><i class="icon-plus"></i>
            </button>
            <div class="mb-grid" ng-grid="projectDataGridOptions"></div>
        </tab>
    </tabset>
</div>
