<div class="span10 offset1">
<h2>{{filteredTypes.length}} Types</h2>
<div>
  Simple search: <input type="search" placeholder="search with 3 chars or more" class="search-query" ng-model="query">
  <div class="btn-group" data-toggle="buttons-radio">
    <button type="button" class="btn" ng-model="listDisplay" btn-radio="'list'"><i class="icon-align-justify"></i></button>
    <button type="button" class="btn" ng-model="listDisplay" btn-radio="'grid'"><i class="icon-th"></i></button>
  </div>
</div>
<div class="types {{listDisplay}}">
  <div ng-repeat="t in filteredTypes = (types | kwSearch:query:['name','definition','id']:true | orderBy:'name')">
    <div class="dt">
      <a href="#/types/{{t.id}}" ng-bind-html="t.nameHl || t.name"/></a> (id <i ng-bind-html="t.idHl || t.id"></i>)
    </div>
    <div class="dd">
      <span ng-bind-html="t.definitionHl || t.definition" />
    </div>
  </div>
</div>
</div>
