<div class="modal-header">
    <h3>{{data.name}}</h3>
    <h4>project: {{project.name}}</h4>
</div>
<form>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
        <div>
            <select name="currentDataTerm" ng-model="$parent.currentDataTerm" ng-options="data_term as data_term.data_term_name for data_term in data_format_terms" class="input-xxlarge" ng-change="resetFormat()">
                <option value="">(1) What kind of data would you like to store?</option>
            </select>
            <div class="form-inline" ng-show="$parent.currentDataTerm.data_term_id" >
                <select name="format_term" ng-model="data.data.type.format_terms" ng-options="format_term.edam_term as format_term.name for format_term in $parent.currentDataTerm.format_terms" ng-disabled="autoDetect" class="input-xlarge" ng-disabled="autoDetect">
                    <option value="">(2) What is the format of your data?</option>
                </select>
                &nbsp;
                <label>
                    <input type="checkbox" ng-model="autoDetect" name="auto-detect" >
                    Auto-detect format
                </label>
            </div>
            <div style="position: relative;">
                <p><tiny-text-file class="btn btn-primary" style="position: absolute; top: 5px; right: 5px;" name="file" ng-model="data" ng-show="data.data.type.format_terms || autoDetect"></p>
                <textarea name="value" ng-model="data.value" class="form-control" rows="5" ng-show="data.data.type.format_terms || autoDetect">
                </textarea>
            </div>
        </div>
        <label>Name:
            <input name="name" ng-model="data.name" placeholder="data name" autofocus/>
        </label>
        <label>Description:
            <input name="name" ng-model="data.description" placeholder="data description" />
        </label>
        <label>Tags:
            <input name="tags" ng-model="data.tags" ng-list/>
        </label>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok()">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>