<div class="modal-header">
    <h3>{{data.name}} (project {{project.name}})</h3>
</div>
<form>
    <div class="modal-body">
        <alert ng-repeat="alert in alerts" type="alert.type">{{alert.msg}}</alert>
        <div>
            <label>
                Data:
                <select required name="currentDataTerm" ng-model="$parent.currentDataTerm" ng-options="data_term as data_term.name for data_term in data_format_terms"/>
            </label>
            <label>
                Format:
                <select required name="format_term" ng-model="data.data.type.format_terms" ng-options="format_term.id as format_term.name for format_term in $parent.currentDataTerm.format_terms" ng-disabled="!$parent.currentDataTerm.id"/>
            </label>
            <fieldset style="width:95%; padding-left: 0; padding-right: 0; margin-left:0; margin-right:0;" ng-disabled="!currentDataTerm.id">
                <div class="btn-group">
                    <button type="button" class="btn" ng-model="mode" btn-radio="'paste'">Paste</button>
                    <button type="button" class="btn" ng-model="mode" btn-radio="'upload'">Upload</button>
                </div>
                <label ng-show="mode=='paste'">
                    <textarea name="value" ng-model="data.value" style="width:95%; padding-left: 0; padding-right: 0; margin-left:0; margin-right:0;" rows="5"/>
                </label>
                <label ng-show="mode=='upload'">
                    <tiny-text-file name="file" ng-model="data"/>
                </label>
            </fieldset>
        </div>
        <label>Name: <input name="name" ng-model="data.name" placeholder="data name" autofocus/></label>
        <label>Description: <input name="name" ng-model="data.description" placeholder="data description"/></label>
        <label>Tags: <input name="tags" ng-model="data.tags" ng-list/></label>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ok()">OK</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>