<div class="row-fluid span11">
    <h2>{{job.service.public_name}} ({{job.getCreationDate() | date: "MMM d, y H:mm"}})</h2>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fieldset_title">
                    <a data-toggle="collapse" data-target="#fieldset-contents-results">results</a>
                </h4>
            </div>
            <div id="fieldset-contents-results" class="panel-body collapse in">
                <div class="col-md-11" ng-repeat="(name, mbformpara) in job.service.outputs.children"><span recursive
                                                                                                    mbformpara="mbformpara"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fieldset_title">
                    <a data-toggle="collapse" data-target="#fieldset-contents-inputs">parameters</a>
                </h4>
            </div>
            <div id="fieldset-contents-inputs" class="panel-body collapse in">
                <div class="col-md-11" ng-repeat="(name, mbformpara) in job.service.inputs.children"><span recursive
                                                                                                    mbformpara="mbformpara"></span>
                </div>
            </div>
        </div>
    </div>
</div>
