<div class="row-fluid span11">
    <h2>{{job.userName()}} ({{job.getCreationDate() | date: "MMM d, y H:mm"}})</h2>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fieldset_title">
                    <a data-toggle="collapse" data-target="#fieldset-contents-results">results</a>
                </h4>
            </div>
            <div id="fieldset-contents-results" class="panel-body collapse in">
                <div ng-if="mbset(job.service.outputs, job.outputs)" class="col-md-12" ng-repeat="(name, mbjobpara) in job.service.outputs.children">
                    <span recursive mbjobpara para="mbjobpara" job="job"></span>
                </div>
                <div ng-if="!mbset(job.service.outputs, job.outputs)" class="col-md-12 bg-warning">
                    No results (yet...)
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="fieldset_title">
                    <a data-toggle="collapse" data-target="#fieldset-contents-inputs">parameters</a>
                </h4>
            </div>
            <div id="fieldset-contents-inputs" class="panel-body collapse in">
                <div ng-if="mbset(job.service.inputs, job.inputs)" class="col-md-12" ng-repeat="(name, mbjobpara) in job.service.inputs.children">
                    <span recursive mbjobpara para="mbjobpara" job="job"></span>
                </div>
                <div ng-if="!mbset(job.service.inputs, job.inputs)" class="col-md-12 bg-warning">
                    No parameters provided.
                </div>
            </div>
        </div>
    </div>
</div>
