<ng-form name="innerForm" ng-show="!para.hidden && !para.command" if-precond class="form-group">
    
    <label class="control-label col-md-6">{{para.prompt || para.name}} <i><type-text type="para.type"></i>
        <i ng-show="para.comment" class="glyphicon glyphicon-info-sign" data-html="true" data-content="{{para.comment}}"
           data-container="body"/>
    </label>
        
    <button type="button" class="btn pull-right" title="load from data bookmarks">
        <i class="glyphicon glyphicon-file"></i>
    </button>

    <div class="alert-info" ng-if="untranslated">no layout defined for type {{para.type}}</div>
    <div class="col-md-6" ng-class="{'has-error': innerForm.mbinput.$dirty && innerForm.mbinput.$invalid}" ng-if="itype" >
        <input class="form-control" type="{{itype}}" step="{{step}}" name="mbinput" 
               value="{{para.type.default}}" ng-model="job['inputs'][para.name]" ui-validate="{{uiValidateString}}"/>
    </div>
    <div class="col-md-6" ng-class="{'has-error': innerForm.mbinput.$dirty && innerForm.mbinput.$invalid}" ng-if="select" >
        <select class="form-control col-md-2" step="{{step}}" name="mbinput" 
                ng-options="opt.value as opt.label for opt in options" ng-model="job['inputs'][para.name]" ui-validate="{{uiValidateString}}"/>
    </div>
    <div class="col-md-12" ng-class="{'has-error': innerForm.mbinput.$dirty && innerForm.mbinput.$invalid}" ng-if="textarea" >
        <textarea class="form-control col-md-2" name="mbinput" ng-model="job['inputs'][para.name]" ng-required="para.mandatory" ui-validate="{{uiValidateString}}">{{para.type.default}}</textarea>
    </div>
    <div class="col-md-12 has-error"  ng-show="innerForm.mbinput.$dirty && innerForm.mbinput.$error">
        <div ng-show="innerForm.mbinput.$error.required" class="help-block">this field is mandatory</div>
        <div ng-show="innerForm.mbinput.$error.number" class="help-block">this field is numeric</div>
        <div ng-repeat="ctrl in para.ctrl" ng-show="$parent.innerForm.mbinput.$error['ctrls'+$index]" class="help-block">{{$parent['ctrls'+$index].message}}</div>
    </div>
</ng-form>
