<form class="row col-md-12" ng-if="service" ng-submit="submit()" name="serviceForm" novalidate>
    <div class="col-md-9">
        <h2>{{service.title}} {{service.version}}</h2>

        <h3>{{service.description}}</h3>
    </div>
    <div class="btn-toolbar">
        <button type="submit" ng-disabled="serviceForm.$invalid" class="btn btn-primary"><i class="glyphicon glyphicon-play glyphicon-white"></i> run</button>
    <span ng-show="mbsimple(service.inputs)">
      <toggle class="btn" toggle-state="showAdvanced" text-when-on="Only simple parameters"
              text-when-off="All parameters" class="btn" style="margin: 1em;"></toggle>
    </span>
    </div>
    <div class="col-md-12" ng-repeat="(name, mbformpara) in service.inputs.children"><span recursive
                                                                                        mbformpara job="job" para="mbformpara" show-advanced="showAdvanced"></span>
    </div>
</form>
