hr {
    border: 0;
    height: 4px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

.mf-next {
  margin: 10px;
}

.mf-prev {
  margin: 10px;
}

.mf-psize {
  margin: 10px;
}

.mf-dbref {
  min-width: 206px;
  margin-left: 0px;
  padding: 4px 6px;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  color: #555555;
  border-radius: 4px 4px 4px 4px;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0..75) inset;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.mf-error {
  border-color: red  ! important;
}

.mf-btn {
  margin: 10px;
}


.mf-composite-label {
  font-size: 1.2em;
  font-weight: bold;
}

.mf-field {
  margin: 5px;
}

.mf-composite {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin-top: 10px;
}

.mf-array {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  display: inline-block;
}

.mf-textfield {
}

.mf-checkbox {
}
